@page
@model EventPlannerApp.Pages.EventTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}
@*<h1>Event types</h1>*@
<div class="about-section mb-0 mt-0">
    <h2 style="font-weight:bold; color:#cbbfc6"> - Event types -  </h2>
    <img align="center" src="~/image/logo.png" alt="sigla" class="sigla1" />
</div>
<br />
<p>
    @if (User.IsInRole("Admin"))
    {
        <button type="button" class="btn btn-outline-dark">
            <a class= asp-area ="" asp-page="Create">Add a new event type</a>
    </button>
    }
    @*<a asp-page="Create">Add a new event type</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventType[0].EventTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventType[0].EventDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventTypeName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDescription)
                </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square fa-10x"></i></a>
                    
                    } 
                   
                       <a asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-info-circle-fill fa-10x"></i></a>
                    
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash fa-10x"></i></a>
                    }                

            </td>
        </tr>
}
    </tbody>
</table>
