@page
@model EventPlannerApp.Pages.EventTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Event types</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventType[0].EventTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventType[0].EventDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventTypeName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDescription)
                </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square fa-7x icon-yellow"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-clipboard-check-fill icon-blue fa-10x"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash icon-red fa-10x"></i></a> |
                    <a asp-page="./Favourite" asp-route-id="@item.ID"><i class="bi bi-bookmark-heart-fill icon-pink fa-10x"></i></a>
                
            </td>
        </tr>
}
    </tbody>
</table>
