@page
@model EventPlannerApp.Pages.Menues.IndexModel

@{
    ViewData["Title"] = "Index";
}
@*<h1>Menu</h1>*@
<div class="about-section mb-0 mt-2" style="background-color:#705565; opacity:0.8;">
        <h2 style="font-weight:bold; color:#cbbfc6"> - Menu -  </h2>
        <img align="center" src="~/image/FoodSigla.png" alt="sigla" class="sigla1" />
    <p>Delicious food with good service makes your day.</p>
    </div>
    <br />

@*<div class="container align-content-center" style="font-size:20px; font-weight:bold; color:white"> Food Category: 
    <div class="row" style="font-size:18px; font-style:italic">
        <div class="col-6 col-sm-3">Romanian Food</div>
        <div class="col-6 col-sm-3">Italian Food</div>
        <div class="col-6 col-sm-3">Chinese Food</div>
        <div class="col-6 col-sm-3">American Food</div>

        <!-- Force next columns to break to new line -->
        <div class="w-100" style="font-size:18px; font-style:italic"></div>

        <div class="col-6 col-sm-3">Starters</div>
        <div class="col-6 col-sm-3">Dessert</div>
        <div class="col-6 col-sm-3">Soft Drink</div>
        <div class="col-6 col-sm-3">Alcoholic Drinks</div>
    </div>
</div>
<br />*@
<form>

    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Search by Food Name or Category:" asp-for="SearchString">
        </div>
        <div class="col">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </div>
    </div>

</form>
<br />
<p>
    @* <a asp-page="Create">Add a new item in the menu</a> | |
    <a asp-page="Index" asp-route-showFavourite="@true">Show favourite</a> | |
    <a asp-page="./Index" style="color:#3e2f38; font-weight:bolder; text-decoration:none"><i class="bi bi-arrow-90deg-right" style="color:#32262d"></i>Back to List</a>
    *@
    @if (User.IsInRole("Admin"))
    {
        <button type="button" class="btn btn-outline-dark">
            <a class= asp-area ="" asp-page="Create">Add a new Item</a>
        </button>
    }
    <button type="button" class="btn btn-outline-dark">
        <a class= asp-area ="" asp-page="Index" asp-route-showFavourite="@true">Show favourites</a>
    </button> | |
    <button type="button" class="btn btn-outline-dark">
        <a class= asp-area ="" asp-page="./Index">Back to List</a>
    </button>
</p>



<br />
<div class="card" style="border-color:#7d5f71;">
    <div style="display: flex ; flex-wrap: wrap; background-color: #7d5f71;" class="row-cols-sm-3">
        @*asta cu row cols sm 4 imi pune pe un rand 3 chestii*@

        @foreach (var item in Model.Menu)
        {
            <div>

                <div style="width:70%; padding:5px; font-family:Arial; text-decoration:underline; color: #d8cfd4; background-color:#705565;">
                    <span stlye="padding-bottom:5px;">
                        <img src="data:image/jpg;base64 , @item.ItemImage" width="400px" height="300px" />
                    </span>

                    @Html.DisplayFor(modelItem => item.ItemName)

                    <p> </p>
                    @Html.DisplayNameFor(model => model.Menu[0].MenuType.TypeName)
                    <br>
                    @Html.DisplayFor(modelItem => item.MenuType.TypeName)

                </div>

                <div>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square fa-7x icon-yellow"></i></a>
                    }
                    <a asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-info-circle-fill fa-10x"></i>See more about...</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash icon-red fa-10x"></i></a>
                    }



                    <form method="post">
                        <input type="hidden" name="MenuID" value="@item.ID" />
                        <input type="hidden" name="IsAddedtoFav" value="@item.AddedToFav.ToString()" />
                        @if (item.AddedToFav == true)
                        {
                            <i class="bi bi-x-circle-fill"></i> <input type="submit" value="Remove from fav" class="btn btn-primary" style="background-color:#57424f; border-color:#d8cfd4; width:170px; margin:10px auto 0; border-radius:50px">
                        }
                        else
                        {
                            <i class="bi bi-chat-square-heart-fill"></i> <input type="submit" value="Add to fav" class="btn btn-primary" style="background-color:#beafb8; border-color:#d8cfd4; width:120px; margin:10px auto 0; border-radius:50px">

                        }
                    </form>
                    <hr>
                </div>
            </div>
        }
    </div>
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="bi bi-arrow-up-circle"></i></button>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].ItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].ItemImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].MenuType.TypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Menu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
            <td>
             <img src="data:image/jpg;base64, @item.ItemImage" width="120px" height="120px" />
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuType.TypeName)
                </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square fa-7x icon-yellow"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-clipboard-check-fill icon-green fa-10x"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash icon-red fa-10x"></i></a> |

                    <form method="post">
                        <input type="hidden" name="MenuID" value="@item.ID" />
                        <input type="hidden" name="IsAddedtoFav" value="@item.AddedToFav.ToString()" />
                        @if (item.AddedToFav == true)
                        {
                            <input type="submit" value="Remove from Favourite" class="btn btn-primary" style="background-color:#a48f9b; border-color:#d8cfd4; width:150px; margin:20px auto 0; border-radius:30px">
                        }
                        else
                        {
                            <input type="submit" value="Add to favourite" class="btn btn-primary" style="background-color:#a48f9b; border-color:#d8cfd4; width:150px; margin:20px auto 0; border-radius:30px">
                        }
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>*@
