@page
@model EventPlannerApp.Pages.MyEvents.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create your own event</h1>

<hr />
<div>
    <a asp-page="./Index" style="color:#3e2f38; font-weight:bolder; text-decoration:none"><i class="bi bi-arrow-90deg-right" style="color:#32262d"></i>Back to List</a>
</div>
<br />





@*<div>
    <a asp-page="Index" style="color:#3e2f38; font-weight:bolder; text-decoration:none"><i class="bi bi-arrow-90deg-right" style="color:#32262d"></i>Back to the list</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<div claas="container">

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*        prima coloana
        *@        <div class="row">
            <div class="col-md-6">

                <div class="form-group mb-3">
                     <label class="my-label">Start date: </label> <br />
                   @* <label asp-for="MyEvent.StartDate" class="control-label"></label>*@
                    <input asp-for="MyEvent.StartDate" class="form-control" />
                    <span asp-validation-for="MyEvent.StartDate" class="text-danger"></span>

                </div>

                <div class="form-group mb-3">
                      <label class="my-label">End date: </label> <br />

@*                    <label asp-for="MyEvent.EndDate" class="control-label"></label>
*@                    <input asp-for="MyEvent.EndDate" class="form-control" />
                    <span asp-validation-for="MyEvent.EndDate" class="text-danger"></span>
                    <br />

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-dark">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                </div>

                <div class="form-group mb-3">
                   <label class="my-label">Write here everything you want for your event: </label> <br />

@*                    <label asp-for="MyEvent.Mention" class="control-label"></label>
*@                    <textarea asp-for="MyEvent.Mention" class="form-control" rows="8"></textarea>
                    <span asp-validation-for="MyEvent.Mention" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                      <label class="my-label">Choose your type for the event: </label> <br />
                    <select asp-for="MyEvent.EventTypeID" class="form-control" asp-items="ViewBag.EventTypeID">
                    </select>
                    <span asp-validation-for="MyEvent.EventTypeID" class="text-danger"></span>
                </div>

                 <div class="form-group mb-3">
                    <label class="my-label">Choose your location: </label> <br />

@*                    <label asp-for="MyEvent.LocationID" class="control-label">Locatia</label>
*@                    <select asp-for="MyEvent.LocationID" class="form-control" asp-items="ViewBag.LocationID">
                    </select>
                    <span asp-validation-for="MyEvent.LocationID" class="text-danger"></span>
                </div>
                 <div class="form-group mb-3">
                    <label class="my-label">Choose your Dj: </label> <br />

@*                    <label asp-for="MyEvent.MusicID" class="control-label">Musica</label>
*@                    <select asp-for="MyEvent.MusicID" class="form-control" asp-items="ViewBag.MusicID">
                    </select>
                    <span asp-validation-for="MyEvent.MusicID" class="text-danger"></span>
                </div>

                 <div class="form-group mb-3">
                    <label class="my-label">Choose your photograph: </label> <br />

@*                    <label asp-for="MyEvent.PhotographID" class="control-label">Photo</label>
*@                    <select asp-for="MyEvent.PhotographID" class="form-control" asp-items="ViewBag.PhotographID">
                    </select>
                    <span asp-validation-for="MyEvent.PhotographID" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                <div class="table">
                     <label class="my-label">Choose types of food: </label> <br />
                    <table>
                       <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.AssignedMenuDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                         <input type="checkbox"
                                            name="selectedMenues"
                                            value="@cat.MenuID"
                                            @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
                                    @cat.MenuID @: @cat.Name
                                    @:</td>
                                }
                                @:</tr>
                            }
             </table>
          </div>
           </div>
           <div class="form-group" >
                  <label class="my-label">Cient name: </label> <br />

@*                <label asp-for="MyEvent.ClientID" class="control-label">Numele clientului</label>
*@                <select asp-for="MyEvent.ClientID" class ="form-control" asp-items="ViewBag.ClientID"></select>
            </div>

             <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="background-color:#a48f9b; border-color:#d8cfd4; width:150px; margin:20px auto 0; border-radius:30px"/>
            </div>
             </div>
        </div>
    </form>
</div>