@page
@model EventPlannerApp.Pages.MyEvents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
    <a asp-page="Index" asp-route-showFavourite="@true">Show favourite</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyEvent[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyEvent[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyEvent[0].Mention)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyEvent[0].EventType.EventTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyEvent[0].Location.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyEvent[0].Music.DjName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyEvent[0].Photograph.PhotographName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.MyEvent[0].MyEventMenues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyEvent[0].Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MyEventD.MyEvents) {
            string selectedRow = "";
            if (item.ID == Model.MyEventID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mention)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventType.EventTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Music.DjName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photograph.PhotographName)
                </td>
                    <td>
                    @{
                        foreach (var menu in item.MyEventMenues)
                        {
                           /* @menu.Menu.ID @:*/ @menu.Menu.ItemName <br/>
                        }
                    }
             </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Client.FullName)
                    </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                
                  @* <form method="post">
                        @*<input type="hidden" asp-for="@item.ID" />
                        <input type="hidden" asp-for="@item.ClientID" />
                        <a asp-action="AddToFavourite">Add to fav</a>                        
                    </form>*@   


                    @*<form class="form" method="post">
                        <input type="hidden" name="EventID" value="@item.ID" />
                        <input type="hidden" name="IDClient" value="@item.ClientID" />
                        <input type="submit" asp-page-handler="AddToFavourite" />
                        
                    </form>*@

                    @*<form asp-action="AddToFavourite" method="post">
                        <input type="hidden" name="EventID" value="@item.ID" />
                        <input type="hidden" name="IDClient" value="@item.ClientID" />
                    <button type="submit">Add</button>
                    </form>*@

@*                    <a asp-page-handler="AddToFavourite" asp-route-id="@item.ID" asp-route-ClientID="@item.ClientID" class="btn btn-primary" type="button" style="border-color: inherit">Add to fav</a>
*@
                    <form method="post">
                        <input type="hidden" name="EventID" value="@item.ID" />
                        <input type="hidden" name="ClientID" value="@item.ClientID" />
                        <input type="submit" value="Add to favourite">
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
