@page
@model EventPlannerApp.Pages.Photographs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details about photograph</h1>

<div>
    
    <hr />
    <div>
        <a asp-page="./Index" style="color:#3e2f38; font-weight:bolder; text-decoration:none"><i class="bi bi-arrow-90deg-right" style="color:#32262d"></i>Back to List</a>
    </div>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photograph.PhotographName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photograph.PhotographName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photograph.PhotographPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photograph.PhotographPrice)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photograph.PhotographImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photograph.PhotographImage)
        </dd>*@
    </dl>
    <hr />
</div>
<div>
    <button type="button" class="btn btn-outline-dark">
        <a class= asp-area ="" asp-page="./Edit" asp-route-id="@Model.Photograph?.ID">Edit</a>
    </button>
</div>
