@page
@model EventPlannerApp.Pages.Photographs.IndexModel

@{
    ViewData["Title"] = "Index";
}
@*<h3>Photographs</h3>*@
<div class="about-section mb-0 mt-0">
    <h2 style="font-weight:bold; color:#cbbfc6"> - Photographs -  </h2>
    <img align="center" src="~/image/PhotoSigla.png" alt="sigla" class="sigla1" />
</div>
<br />
<p>
    @*<a asp-page="Create">Add a new photograph</a> | |
    <a asp-page="Index" asp-route-showFavourite="@true">Show favourite</a> | |
    <a asp-page="./Index" style="color:#3e2f38; font-weight:bolder; text-decoration:none"><i class="bi bi-arrow-90deg-right" style="color:#32262d"></i>Back to List</a>
*@
    @if (User.IsInRole("Admin"))
    {
        <button type="button" class="btn btn-outline-dark">
        <a class= asp-area ="" asp-page="Create">Add a Photographer</a> 
    </button> 
    }
    <button type="button" class="btn btn-outline-dark">
        <a class= asp-area="" asp-page="Index" asp-route-showFavourite="@true">Show favourites</a>
    </button> | |
    <button type="button" class="btn btn-outline-dark">
        <a class= asp-area ="" asp-page="./Index">Back to List</a> 
    </button>
</p>


<br />
<div class="card" style="border-color:#7d5f71;">
    <div style="display: flex ; flex-wrap: wrap; background-color: #7d5f71;" class="row-cols-sm-3">
        @*asta cu row cols sm 4 imi pune pe un rand 3 chestii*@

        @foreach (var item in Model.Photograph)
        {
                <div>

                    <div style="width:50%; padding:5px">
                        <span stlye="padding-bottom:5px;">
                        <img src="data:image/jpg;base64 , @item.PhotographImage" width="400px" height="300px"  />
                        </span>

                    @Html.DisplayFor(modelItem => item.PhotographName)

                    </div>

                    <div>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square fa-7x icon-yellow"></i></a>
                    }
                    <a asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-info-circle-fill fa-10x"></i>Details</a>
                    @if (User.IsInRole("Admin")){
                        <a asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash icon-red fa-10x"></i></a> 
                    }


                        <form method="post">
                            <input type="hidden" name="PhotographID" value="@item.ID" />
                            <input type="hidden" name="IsAddedtoFav" value="@item.AddedToFav.ToString()" />
                        @if (item.AddedToFav == true)
                        {
                                    <i class="bi bi-x-circle-fill"></i> <input type="submit" value="Remove from fav" class="btn btn-primary" style="background-color:#57424f; border-color:#d8cfd4; width:170px; margin:10px auto 0; border-radius:50px">
                        }
                        else
                        {
                                    <i class="bi bi-chat-square-heart-fill"></i> <input type="submit" value="Add to fav" class="btn btn-primary" style="background-color:#beafb8; border-color:#d8cfd4; width:120px; margin:10px auto 0; border-radius:50px">

                        }
                        </form>
                        <hr>
                    </div>
                </div>
        }
    </div>
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="bi bi-arrow-up-circle"></i></button>




@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photograph[0].PhotographName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photograph[0].PhotographPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photograph[0].PhotographImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Photograph) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhotographName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotographPrice)
            </td>
            <td>
               <img src="data:image/jpg;base64, @item.PhotographImage" width="120px" height="120px" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square fa-7x icon-yellow"></i></a> |
                <a asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-clipboard-check-fill icon-green fa-10x"></i></a> |
                <a asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash icon-red fa-10x"></i></a> |

                    <form method="post">
                        <input type="hidden" name="PhotographID" value="@item.ID" />
                        <input type="hidden" name="IsAddedtoFav" value="@item.AddedToFav.ToString()" />
                        @if (item.AddedToFav == true)
                        {
                            <input type="submit" value="Remove from Favourite" class="btn btn-primary" style="background-color:#a48f9b; border-color:#d8cfd4; width:150px; margin:20px auto 0; border-radius:30px">
                        }
                        else
                        {
                            <input type="submit" value="Add to favourite" class="btn btn-primary" style="background-color:#a48f9b; border-color:#d8cfd4; width:150px; margin:20px auto 0; border-radius:30px">
                        }
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>*@
