@page
@model EventPlannerApp.Pages.Photographs.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h3>Photographs</h3>

<p>
    @*<a asp-page="Create">Add a new photograph</a> | |
    <a asp-page="Index" asp-route-showFavourite="@true">Show favourite</a> | |
    <a asp-page="./Index" style="color:#3e2f38; font-weight:bolder; text-decoration:none"><i class="bi bi-arrow-90deg-right" style="color:#32262d"></i>Back to List</a>
*@
<button type="button" class="btn btn-outline-dark">
        <a class= asp-area ="" asp-page="Create">Add a Photographer</a> 
    </button> | | 
    <button type="button" class="btn btn-outline-dark">
        <a class= asp-area="" asp-page="Index" asp-route-showFavourite="@true">Show favourites</a>
    </button> | |
    <button type="button" class="btn btn-outline-dark">
        <a class= asp-area ="" asp-page="./Index">Back to List</a> 
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photograph[0].PhotographName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photograph[0].PhotographPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photograph[0].PhotographImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Photograph) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhotographName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotographPrice)
            </td>
            <td>
               <img src="data:image/jpg;base64, @item.PhotographImage" width="120px" height="120px" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square fa-7x icon-yellow"></i></a> |
                <a asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-clipboard-check-fill icon-green fa-10x"></i></a> |
                <a asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash icon-red fa-10x"></i></a> |

                   <form method="post" >
                   <input type="hidden" name="PhotographID" value="@item.ID" />
                   @*<input type="hidden" name="ClientID" value="@item.ClientID" />*@
                   <input type="submit" value="Add to favourite" class="btn btn-primary" style="background-color:#a48f9b; border-color:#d8cfd4; width:150px; margin:20px auto 0; border-radius:30px">
                   </form>
            </td>
        </tr>
}
    </tbody>
</table>
