@page
@model EventPlannerApp.Pages.Locations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details about locations</h1>

<div>
   
    <hr />
    <div>
        <a asp-page="Index" style="color:#3e2f38; font-weight:bolder; text-decoration:none"><i class="bi bi-arrow-90deg-right" style="color:#32262d"></i>Back to List</a>
    </div>
    <br />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.LocationImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationImage)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.MaximumCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.MaximumCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.LocationPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationPrice)
        </dd>
    </dl>
    <hr />
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <button type="button" class="btn btn-outline-dark">
            <a class= asp-area ="" asp-page="./Edit" asp-route-id="@Model.Location?.ID">Edit</a>
    </button>}
</div>
