@page
@model EventPlannerApp.Pages.Locations.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div>
   
    <hr />
    <div>
        <a asp-page="Index" style="color:#3e2f38; font-weight:bolder; text-decoration:none"><i class="bi bi-arrow-90deg-right" style="color:#32262d"></i>Back to List</a>
    </div>
    <br />
     <div class="container">
        <div class="box">
            <h2><label class="my-label">Description of @Html.DisplayFor(model => model.Location.LocationName):</label></h2>
            <p> <label class="my-label">Addres: </label> @Html.DisplayFor(model => model.Location.Adress)</p>
            <p> <label class="my-label">Maximum capacity(nr. people): </label> @Html.DisplayFor(model => model.Location.MaximumCapacity)</p>
            <p> <label class="my-label">Price/day (euro): </label> @Html.DisplayFor(model => model.Location.LocationPrice)</p>
        </div>
    </div>
    <br />
    <div class="image-container">
        <img src="~/image/location/loc1.jpg" />
        <img src="~/image/location/loc2.jpg" />
        <img src="~/image/location/loc3.jpg" />
    </div>
   
    <hr />
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <button type="button" class="btn btn-outline-dark">
            <a class= asp-area ="" asp-page="./Edit" asp-route-id="@Model.Location?.ID">Edit</a>
    </button>}
</div>
