@page
@model EventPlannerApp.Pages.Locations.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    .gallery {
        border-color: #7d5f71;
    }

    .row-cols-sm-3 {
        display: flex;
        flex-wrap: wrap;
        background-color: #7d5f71;
       /* justify-content: flex-start;*/
        justify-content: space-between;
    }

    .photo {
        position: relative;
        width: calc(33.33% - 20px);
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease;
    }

        .photo img {
            /*width: 100%;
            height: auto;*/
            object-fit: cover;
        }

    .details {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        box-sizing: border-box;
        transform: translateY(100%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .photo:hover {
        transform: translateY(-20px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

        .photo:hover .details {
            transform: translateY(0);
            opacity: 1;
        }
</style>

@*<h3>Locations</h3>*@

<div class="about-section mb-0 mt-0" style="background-color:#705565; opacity:0.8;">
    <h2 style="font-weight:bold; color:#cbbfc6"> - Locations -  </h2>
    <img align="center" src="~/image/LocationSigla.png" alt="sigla" class="sigla1" />
    <p> 
        "Some people look for a beautiful place. Others make a place beautiful.”
    </p>
</div>

<p>
    @if (User.IsInRole("Admin"))
    {
        <button type="button" class="btn btn-outline-dark">
            <a class= asp-area ="" asp-page="Create">Add a location</a>
    </button>}
    @if (User.Identity.IsAuthenticated){
    <button type="button" class="btn btn-outline-dark">
        <a class= asp-area ="" asp-page="Index" asp-route-showFavourite="@true">Show favourites</a>
    </button> }
    @if (User.Identity.IsAuthenticated)
    {
        <button type="button" class="btn btn-outline-dark">
            <a class= asp-area ="" asp-page="./Index">Back to List</a>
    </button>}

</p>

<br />

<div class="gallery" style="border-color:#7d5f71;">
    <div style="display: flex; flex-wrap: wrap; background-color: #7d5f71;" class="row-cols-sm-3">
        @foreach (var item in Model.Location)
        {
            <div class="photo">
                <img src="data:image/jpg;base64 , @item.LocationImage" width="400px" height="300px" />
                <div class="details">
                    <h3>@Html.DisplayFor(modelItem => item.LocationName)</h3>

                    <p>
                        <label class="my-label">Price/day (euro): </label>
                        @Html.DisplayFor(modelItem => item.LocationPrice)
                    </p>

                    <form method="post">
                        <input type="hidden" name="LocationID" value="@item.ID" />
                        <input type="hidden" name="IsAddedtoFav" value="@item.AddedToFav.ToString()" />
                        @if (item.AddedToFav == true)
                        {
                            @if (User.Identity.IsAuthenticated)
                            {

                                <i class="bi bi-x-circle-fill"></i> <input type="submit" value="Remove from fav" 
                                   class="btn btn-primary" 
                                   style="background-color:#57424f; border-color:#d8cfd4; width:170px; margin:10px auto 0; border-radius:50px">
                            }
                        }
                        else
                        { @if (User.Identity.IsAuthenticated)
                            {

                                <i class="bi bi-chat-square-heart-fill"></i> <input type="submit" value="Add to fav" 
                                   class="btn btn-primary" 
                                   style="background-color:#beafb8; border-color:#d8cfd4; width:120px; margin:10px auto 0; border-radius:50px">
                            }}
                    </form>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square fa-7x icon-yellow"></i></a>
                    }
                    <a asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-info-circle-fill fa-10x"></i>More details...</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash icon-red fa-10x"></i></a>
                    }
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.photo').click(function () {
            $(this).toggleClass('active');
            $('.photo').not(this).toggleClass('inactive');
        });
    });

    
</script>

@*<div class="card" style="border-color:#7d5f71;">
    <div style="display: flex ; flex-wrap: wrap; background-color: #7d5f71;" class="row-cols-sm-3">
       

        @foreach (var item in Model.Location)
        {
            <div>

                <div style="width:70%; padding:5px; font-family:Arial; text-decoration:underline; color: #d8cfd4; background-color:#705565;">
                    <span stlye="padding-bottom:5px;">
                        <img src="data:image/jpg;base64 , @item.LocationImage" width="400px" height="300px" />
                    </span>
                    <br>
                    <br>
                    @Html.DisplayFor(modelItem => item.LocationName)

                </div>

                <div>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square fa-7x icon-yellow"></i></a>
                    }

                    <a asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-info-circle-fill fa-10x"></i>Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash icon-red fa-10x"></i></a>
                    }



                    <form method="post">
                        <input type="hidden" name="LocationID" value="@item.ID" />
                        <input type="hidden" name="IsAddedtoFav" value="@item.AddedToFav.ToString()" />
                        @if (item.AddedToFav == true)
                        {
                            @if (User.Identity.IsAuthenticated)
                            {
                                <i class="bi bi-x-circle-fill"></i> <input type="submit" value="Remove from fav" class="btn btn-primary" style="background-color:#57424f; border-color:#d8cfd4; width:170px; margin:10px auto 0; border-radius:50px">
                            }

                        }
                        else
                        {@if (User.Identity.IsAuthenticated){
                            <i class="bi bi-chat-square-heart-fill"></i> <input type="submit" value="Add to fav" class="btn btn-primary" style="background-color:#beafb8; border-color:#d8cfd4; width:120px; margin:10px auto 0; border-radius:50px">
                        }
                        }
                    </form>
                    <hr>
                </div>
            </div>
        }
    </div>
</div>*@

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="bi bi-arrow-up-circle"></i></button>








@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].LocationImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].MaximumCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].LocationPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Location)
        {
            <tr>
                <td>
                    <img src="data:image/jpg;base64, @item.LocationImage" width="120px" height="120px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximumCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationPrice)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square fa-7x icon-yellow"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-clipboard-check-fill icon-green fa-10x"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash icon-red fa-10x"></i></a> |



                    <form method="post">
                        <input type="hidden" name="LocationID" value="@item.ID" />
                        <input type="hidden" name="IsAddedtoFav" value="@item.AddedToFav.ToString()" />
                        @if (item.AddedToFav == true)
                        {
                            <input type="submit" value="Remove from Favourite" class="btn btn-primary" style="background-color:#a48f9b; border-color:#d8cfd4; width:150px; margin:20px auto 0; border-radius:30px">
                        }
                        else
                        {
                            <input type="submit" value="Add to favourite" class="btn btn-primary" style="background-color:#a48f9b; border-color:#d8cfd4; width:150px; margin:20px auto 0; border-radius:30px">
                        }
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>*@
